.CI-container {

  width: 80%;
  height: 500px;


}

.CI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.CI-container .CI-form {
  margin-top: 40px;
}


.CI-container button{
  width: 100px;
  height: 30px;
  margin-left: 16.7%;
  border-radius: 5px;
  background-color: #f7f5f5;
  box-shadow: 0 0 1px ;
  outline: none;
}

