.CI-container {

  width: 80%;
  height: 500px;


}

.CI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.CI-container .CI-form {
  margin-top: 40px;
}


.CI-container .ant-btn {
  width: 100px;
  height: 30px;
  background: #e6f8f9;
  border: none;
}

