.CI-container {
  margin: 30px;
  width: 95%;
  height: 900px;
  min-width: 900px;
  border-radius: 10px;
  background: #ffffff;
}

.CI-container .classlist {
  display: flex;
  align-content:space-around;
  flex-wrap:wrap;
 
}

.CI-container .classlist .listrowspace{
   margin-left: 10%;
  
}
.CI-container .footer {
  display: flex;
  justify-content: center;
  align-content: center;
 

}

.CI-container .footer .pagination {
  display: flex;
}

.CI-drawerinfo {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

}

.CI-drawerinfo span {
  font-size: 18px;
  margin-top: 45px;
}
.CI-drawerinfo i{
    font-size: 18px;
}
