.CD-container{
  margin: 30px;
  width: 95%;
  height: 320px;
  min-width: 900px;
  border-radius: 10px;
  background: #ffffff;
}
.CD-container .img{
    width: 21%;
    height: 320px;
    border-radius: 10px;
}
.CD-container .img img:hover{
    box-shadow: 1px 0px;
    transform: scale(1.03);
}