.CD-container{
  display: flex;
  margin: 30px;
  width: 95%;
  height: 320px;
  min-width: 900px;
  border-radius: 10px;
  background: #ffffff;
}
.CD-container .img{
    width: 21%;
    margin-left: 8px;
    margin-top: 5px;
    height: 320px;
    border-radius: 10px;
}
.CD-container .img img:hover{
    box-shadow: 0px 0px 5px #979494;
    transform: scale(1.02);
}
.CD-container .name{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 20px;
}