.DD-container {
  width: 95%;
  min-width: 900px;
  margin: 30px;
  border-radius: 10px;
  background: #ffffff;
}
.DD-container h3{
    margin-top: 5px;
    margin-left: 10px;
    font-family: Helvetica, sans-serif;
}
.DD-container  .top{
    height: 32%;
    border-bottom:1px solid rgb(201, 201, 201);
}
.DD-container  .center{
    height: 34%;
    border-bottom:1px solid rgb(201, 201, 201);
}

.DD-container  .bottom{
    height: 33%;
 
}



