.DD-container {
  width: 95%;
  min-width: 900px;
  margin: 30px;
  border-radius: 10px;
  background: #ffffff;
}
.DD-container .left{
    width: 50%;
    border-right: 1px solid grey;
}
.DD-container .right{
    width: 50%;
    
}
