.DD-container {
  width: 95%;
  min-width: 900px;
  margin: 30px;
  border-radius: 10px;
  background: #ffffff;
}
.DD-container  .top{
    height: 30%;
    border-bottom:1px solid grey;
}
.DD-container  .center{
    height: 30%;
    border-bottom:1px solid grey;
}

.DD-container  .bottom{
    height: 30%;
    border-bottom:1px solid grey;
}



