.EI-container {
  width: 80%;
  height: 500px;

}

.EI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.EI-info {
  display: flex;
}

.EI-info span {
  margin: 20px;
  color: black;
}

.EI-info .cloumn span {
  display: flex;
  margin-left: 50px;
  margin-top: 32px;
  flex-direction: column;
  flex-direction: column;
  flex-direction: row;

}

.EI-info span .avatar {
  width: 110px;
  height: 100px;
  position: relative;
  border:1px solid grey;
}

.EI-info button {
 margin-top: 300px;
 margin-left: -550px;;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #f7f5f5;
  box-shadow: 0 0 1px ;
  outline: none;

}

.EI-info button:hover {
  transform: scale(1.03);
}
