.EI-container {

  width: 80%;
  height: 500px;

}

.EI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.EI-info {
  display: flex;


}

.EI-info span {
  margin: 20px;
  color: black;
}

.EI-info .cloumn span {
  display: flex;
  margin-left: 50px;
  margin-top: 32px;
  flex-direction: column;
  flex-direction: column;
  flex-direction: row;

}

.EI-info span .avatar {
  position: relative;
  top: -30px;
  margin-left: -50px;
  height: 50px;

}

.EI-info button {
 margin-top: 300px;
 margin-left: -550px;;
  width: 100px;
  height: 30px;
  background-color: #ffeeef;
  box-shadow: 0 0 1px ;


}

.EI-info button:hover {
  transform: scale(1.05);
}
