.EI-container {
  width: 80%;
  height: 500px;

}

.EI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.EI-info {
  display: flex;
}

.EI-info span {
  margin: 20px;
  color: black;
}

.EI-info .cloumn span {
  display: flex;
  margin-left: 50px;
  margin-top: 32px;
  flex-direction: column;
  flex-direction: column;
  flex-direction: row;

}

.EI-info button {
 margin-top: 350px;
 margin-left: -530px;;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #f7f5f5;
  box-shadow: 0 0 1px ;
  outline: none;

}
.EI-info button:hover {
  transform: scale(1.03);
}

.EI-info .upload-pic {
  border-radius: 6px;
  cursor: pointer;
  width: 178px;
  height: 178px;
  position: relative;
  left: 100px;
  top:-40px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.EI-info .upload-pic .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}