.EI-container {
  width: 80%;
  height: 500px;

}

.EI-container input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.EI-info {
  display: flex;
}

.EI-info span {
  margin: 20px;
  color: black;
}

.EI-info .cloumn span {
  display: flex;
  margin-left: 50px;
  margin-top: 32px;
  flex-direction: column;
  flex-direction: column;
  flex-direction: row;

}

.EI-info button {
 margin-top: 300px;
 margin-left: -550px;;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #f7f5f5;
  box-shadow: 0 0 1px ;
  outline: none;

}
.EI-info button:hover {
  transform: scale(1.03);
}

.EI-info .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.EI-info .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
