* {
  margin: 0;
  padding: 0;
}

.ID-container {
  width: 100%;
  height: 4300px;
  min-width: 1200px;
  background: #f4f4f4;

}

.ID-nav {
  display: flex;
  width: 100%;
  height: 40px;
  min-width: 1000px;
  background: #434343;
}

.ID-nav .logo img {
  position: relative;
  top: -1px;
  left: 25%;
  width: 140px;
  height: 45px;

}

.ID-nav .info {
  display: flex;
  position: absolute;
  right: 2%;
}

.ID-nav .info a {
color:#d4d4d1;
  width: 100px;
  padding-left: 26px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
}
.ID-nav .info p{
  color:#d4d4d1;
   margin-top: 9px;

}
.ID-nav .info p:hover {
  color:rgba(254, 254, 254, 1);
  transform: scale(1.03);

}
.ID-nav .info a:hover{
  color: rgba(254, 254, 254, 1);
   transform: scale(1.03);
}
.ID-content {
  width: 100%;
  height: 2600px;
  position: relative;
}

.ID-content .swiper-container {
  width: 100%;
  min-width: 1000px;
  height: 900px;

}

.ID-content .swiper-container img {
  width: 100%;
  height: 900px;
  box-shadow: 0px 1px 2px;
}

.ID-content .swiper-container p {
  position: absolute;
  width: 600px;
  height: 30px;
  margin-left: 4.5%;
  margin-top: 180px;
  font-size: 56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

.ID-content .swiper-container .title {
  position: absolute;
  width: 600px;
  height: 30px;
  margin-left: 5.5%;
  margin-top: 300px;
}

.ID-content .swiper-container .title span {
  font-size: 36px;
  color: aliceblue;
  margin-left: 30px;
}

.ID-content .Stance {
  width: 100%;
  height: 610px;

}

.ID-content .box-card {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 410px;

  border-radius: 10px;
  box-shadow: 1px 1px 3px;

}

.ID-content .box-card .card-top {
  width: 100%;
  height: 200px;
  background: #EEEEEE;
}

.ID-content .box-card .card-bottom {
  width: 100%;
  height: 160px;

}

.ID-content .box-card .card-top h3 {
  font-size: 56px;
  margin-left: 145px;
  padding-top: 35px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.ID-content .box-card .card-top h4 {
  font-size: 24px;
  margin-left: 265px;
  margin-top: 20px;
  color: #5f6769;

}

.ID-content .box-card .card-bottom {
  display: flex;
  height: 210px;
  background: #ECF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.ID-content .box-card .card-bottom .student {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 210px;
  margin-left: 185px;
  padding-top: 20px;

}

.ID-content .box-card .card-bottom .admin {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 210px;
  margin-left: 200px;
  padding-top: 20px;

}

.ID-content .box-card .card-bottom span {
  font-size: 18px;
  font-family: Source Han Sans SC;
  font-weight: 500;
  color: rgba(53, 53, 53, 1);
  line-height: 60px;
  margin-left: 32px;
}

.ID-content .show-title {
  font-size: 32px;
  font-family: Source Han Sans SC;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(53, 53, 53, 1);
  line-height: 60px;
}

.ID-content .show-small-title {
  font-size: 18px;
  font-family: Source Han Sans SC;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f6769;
  line-height: 60px;
}

.ID-content .carddetails {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  margin-top: 10px;
  height: 500px;

}



.ID-content .box-carddetails {
  position: relative;
  width: 40%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px;

}

.ID-content .box-carddetails img {
  width: 100%;
  height: 300px;
}

.ID-content .carddetails-left {
  display: flex;
  width: 800px;
  height: 500px;
  padding: 45px;
}

.ID-content .carddetails-left .left-1 {
  cursor: pointer;
  transition: all 0.6s;
}

.ID-content .carddetails-left .left-1:hover {
  transform: scale(1.06);
}

.ID-content .carddetails-left .left-2 {
  cursor: pointer;
  transition: all 1s;
  margin-left: 12%;

}

.ID-content .carddetails-left .left-2:hover {
  transform: scale(1.06);
}

.ID-content .carddetails-right {
  display: flex;
  width: 800px;
  height: 500px;
  padding: 45px;
  margin-left: -6%;
}

.ID-content .carddetails-right .right-1 {
  cursor: pointer;
  transition: all 0.6s;
  margin-left: 12%;

}

.ID-content .carddetails-right .right-1:hover {
  transform: scale(1.06);
}

.ID-content .carddetails-right .right-2 {
  cursor: pointer;
  transition: all 0.6s;
  margin-left: 12%;
}

.ID-content .carddetails-right .right-2:hover {
  transform: scale(1.06);
}

.ID-content .box-carddetails .carddetails-h2 {
  width: 150px;
  height: 30px;
  margin: auto;

}

.ID-content .box-carddetails h5 {
  width: 200px;
  height: 20px;
  margin: auto;

}

.ID-content .box-carddetails .carrdetails-span-row1 {
  display: flex;
  width: 100%;
  height: 30px;
  padding-top: 15px;
  justify-content: space-around;

}

.ID-content .box-carddetails .carrdetails-span-row2 {
  display: flex;
  width: 100%;
  height: 30px;
  padding-top: 20px;
  justify-content: space-around;

}

.ID-propaganda {
  position: relative;
  width: 100%;
  height: 1600px;

}

.ID-propaganda h1 {
  font-size: 48px;
  margin-top: 120px;
  font-weight: 20;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.ID-propaganda h3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  color: #ABB7B7;

}

.ID-propaganda .Box-propaganda {
  display: flex;
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  border-radius: 10px;

}

.ID-propaganda .Box-propaganda .B-left {
  width: 50%;
  height: 100%;
  border-radius: 10px;


}

.ID-propaganda .Box-propaganda img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ID-propaganda .first .B-right {
  width: 50%;
  height: 100%;
  padding: 50px;

}

.ID-propaganda .first .B-right h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 5;
}

.ID-propaganda .first .B-right span {
  padding: 20px;
}

.ID-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  background: #434343;
}

.ID-footer .footer-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin-top: 60px;
}

.ID-footer .footer-box h2 {
  font-weight: 3;
  color: #EEEEEE;
}
.ID-footer .footer-box span{
  margin-top:20px;
  color: #eeeeee;
}
.ID-footer .footer-box a{
  margin-top: 20px;
   color: #eeeeee;
}
