.KN-container{
    width: 95%;
    min-width: 1000px;
    margin:30px;
    border-radius: 10px;
    background-color: #ffffff;
}
.KN-container section{
    width: 98%;
    height: 260px;
  
    border: 1px solid red;
}