.KN-container {
  width: 95%;
  min-width: 1000px;
  margin: 30px;
  border-radius: 10px;
  background-color: #ffffff;
}

.KN-container section {
  width: 98%;
  height: 200px;
  margin:0 auto;
  border: 1px solid #d6d5d5;
}

.KN-container section h2 {
  margin-left: 2%;
  margin-top: 10px;
}

.KN-container section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 

}

.KN-container section .list p {
  font-size: 15px;
  margin-top: 7px;
  margin-left: 35%;

}

.KN-container section .list .progress {
  width: 15%;
  height: 40px;
  margin-top: 15px;

}
