.KN-container{
    width: 95%;
    min-width: 1000px;
    margin:45px;
    border-radius: 10px;
    background-color: #ffffff;
}
.KN-container section{
    width: 95%;
    height: 240px;
    margin: 0 auto;
    border: 1px solid red;
}