.KN-container{
    width: 95%;
    min-width: 1000px;
    margin:30px;
    border-radius: 10px;
    background-color: #ffffff;
}
.KN-container section{
    width: 98%;
    height: 200px;
  
    border: 1px solid red;
}
.KN-container section .list{
    display: flex;
    justify-content:space-between;
    
}

.KN-container section .list span{
    font-size: 15px;
  margin-left: 30%;
    
}
.KN-container section .list .progress{
    width: 15%;
    height: 40px;
    border: 1px solid red;
}