.nav {
  display: flex;
  width: 100%;
  height: 40px;
  min-width: 900px;
  background: #434343;
  border:1px solid red;
}
.nav .logo img {
  margin-left: 30%;
  width: 140px;
  height: 45px;

}
.nav .info {
  position: absolute;
  right: 3%;
  display: flex;
  justify-content: space-around;
  width: 20px;
  height: 40px;
  border:1px solid red;
}
.nav .info .avatar-info{
 
}
.nav .info .dropdown{
  margin-left: 15px;
  padding-top: 3px;
}

.nav .info .dropdown p{
  width:100px;
  color: #d4d4d1;
  margin-right: 10px;
  margin-top: 5px;
  border:1px solid red;
}
.nav .info .avatar-info img {
  width: 40px;
  height:38px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.nav .info .avatar-info img:hover {
  transform: rotate(360deg);
}

.nav .info .news img:hover {
  margin-top: 3px;

}

