.PI-container {

  width: 80%;
  height: 500px;

}
.PI-container .Form{
    margin-top:40px;
}
.PI-container input {
    width: 200px;
    height: 30px; 
  border: 1px solid #cccccc;
}
.PI-container button{
  width: 100px;
  height: 30px;
  margin-left: 100px;
  border-radius: 5px;
  background-color: #f7f5f5;
  box-shadow: 0 0 1px ;
  outline: none;


}

.PI-container button:hover {
  transform: scale(1.05);
}
